.ss {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

[ss-icon] svg,
.ss svg {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 255, 0.479);
}
